@tailwind base;
@tailwind components;
@tailwind utilities;

.brownTextColor {
  color: #401d00;
}

.brownBgColor {
  background-color: #401d00;
}

.brownBorderBottomColor {
  border-bottom: 1px solid #401d00;
}
