@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  font-size: 3.8647342995vw;
}

main {
  overflow-x: hidden;
}

.yuGothic {
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans",
    "メイリオ", Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.brownTextColor {
  color: #401d00;
}

.brownBgColor {
  background-color: #401d00;
}

.brownBorderBottomColor {
  border-bottom: 1px solid #401d00;
}

.borderArrowBtn svg {
  fill: #fff;
  transition: fill 0.3s ease;
}

.borderArrowBtn:hover svg {
  fill: #401d00;
}

.lContainerM {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.lContainerl {
  max-width: 1640px;
  width: 90%;
  margin: 0 auto;
}

.hW-120pa {
  width: 120% !important;
  height: 120% !important;
}

.stickyTop {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
}

.fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.uClearfix::after {
  content: "";
  display: block;
  clear: both;
}

.aspectFit {
  position: relative;
  width: 100%;
}

.aspectFit:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.aspectFit p {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.verticalText {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.plus {
  position: relative;
}

.plus::before,
.plus::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}

.plus::after {
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.5s;
}

.plusMinus::before {
  opacity: 0;
}
.plusMinus::after {
  transform: translateY(-50%) rotate(180deg);
}

@media (min-width: 640px) {
  body {
    font-size: 16px;
  }

  .plus::before,
  .plus::after {
    display: none;
  }
}
