.middleCatchCopy {
  background-image: url("/img/top/city-desc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.slideshow {
  display: flex;
}

.slideshow ul {
  display: flex;
  animation: loop infinite linear 40s;
}

@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slideshow li {
  min-width: 160px;
  height: 120px;
}

.magazineList {
  margin: 0;
}

.magazineListItem {
  width: 100%;
}

@media (min-width: 640px) {
  .slideshow li {
    width: calc(100vw / 3);
    height: 200px;
  }
}

@media (min-width: 768px) {
  .magazineListItem {
    width: calc(100% / 2 - 20px);
  }
}

@media (min-width: 1280px) {
  .slideshow li {
    width: calc(100vw / 5);
    height: auto;
  }

  .magazineList {
    margin: 100px 0 0;
  }

  .magazineListItem {
    width: calc(100% / 2 - 160px);
  }
}
