.middleCatchCopy {
  background-image: url("/img/top/city-desc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.slideshow {
  display: flex;
  gap: 30px;
  animation: loop-slide 50s infinite linear 1s both;
}

.slideshow li {
  width: calc(100vw / 5);
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
